In [250]:
import pandas as pd
import numpy as np
import copy

Превращаем цену в тип float64

In [251]:
a = pd.read_excel("DataSet2021Spring_ОСНОВНОЙ.xlsx")
a = a.astype({'Price': 'float64'})

Соединяем цену со следующим столбцом, потому что цена -- число с плавающей запятой, а в России принято разделять запятые с помощью запятой. Значит, часть цены после запятой попала в следующий столбец. (Будем считать, что цена на данный товар АБСОЛЮТНО всегда имеет дробную часть, как и в настоящих магазинах (xx,99 копеек).

In [252]:
print(a.values[0][24])
for i in range(0, len(a.values)):
    temp = str(a.values[i][24])
    temp2 = str(a.values[i][25])
    if (temp != 'nan' and temp2 != 'None'):
        tmp = a.values[i]
        tmp[20] += tmp[21]*(10**(-len(str(tmp[21]))))
        tmp = np.delete(tmp, 21)
        a.loc[i] = np.append(tmp, None)

16

Ту же самую операцию проводим с Qty_Stock, предполагая, что на складе всегда остается больше товара, чем на полках в магазине. Количество на складе может быть дробным числом, потому что на складе часть могла порваться (если линолеум), разбиться, исчезнуть "в неизвестном направлении", поэтому на складе из полного числа вещей, грубо говоря, вычитается процент "потерь", зависящий от конкретной позиции

In [253]:
for i in range(0, len(a.values)):
    temp = str(a.values[i][24])
    if (temp != 'nan' and temp != 'None'):
        tmp = a.values[i]
        tmp[21] += tmp[22]*(10**(-len(str(tmp[22]))))
        tmp = np.delete(tmp, 22)
        a.loc[i] = np.append(tmp, None)

In [254]:
a.head()
a = a.drop(columns=['Unnamed: 24', 'Unnamed: 25'])
a.head()

,Number_PP,Name,Full_name,Code,Unit_of_reconciliation,Additional_characteristics,Owners_name,Kind,Article,Weight,...,Nomenclature_group,Sharto,Main_supplier,Main_supplier_object,Comment,Predefined,Price,Qty_stock,Remaining_amount,Currency
0,1,(o) Ламинат Symbio,(o) Ламинат Symbio,1920,м2,Нет,Symbio,Товар,1920,Нет,...,Товары,1619658683,NaN,Нет,NaN,Нет,188.96,446.84276,16,Руб
1,2,(o) Ламинат Synchrotec,(o) Ламинат Synchrotec,1921,м2,Нет,Synchrotec,Товар,1921,Нет,...,Товары,162653771,NaN,Нет,NaN,Нет,95.73,720.68925,6,Руб
2,3,(о) Коврики влаговпитывающие,(о) Коврики влаговпитывающие,2037,шт,Нет,Коврики влаговпитывающие,Товар,2037,Нет,...,Товары,162653771,ОПУС ТД ООО,Нет,NaN,Нет,99.83,426.42527,58,Руб
3,4,(о) Ковролин Ideal,(о) Ковролин Ideal,2020,шт,Нет,Ковролин Ideal,Товар,2020,Нет,...,Товары,1993477958,ОПУС ТД ООО,Нет,NaN,Нет,93.28,648.60445,44,Руб
4,5,(о) Ковролин Синтелон (свотч),(о) Ковролин Синтелон (свотч),2390,шт,Нет,Ковролин СИНТЕЛОН (Сербия),Товар,2390,Нет,...,Товары,1993477958,Монарх МБК-М ООО,Нет,NaN,Нет,52.33,905.47358,65,Руб

In [259]:
a.loc[54]

Number_PP                                    67
Name                                   EUROHOME
Full_name                                   NaN
Code                                       2494
Unit_of_reconciliation                      NaN
Additional_characteristics                  Нет
Owners_name                   Ламинат Кроношпан
Kind                                      Товар
Article                                    2494
Weight                                      Нет
Accounting_characteristics                  Нет
Storage_unit                                NaN
VAT_rate                                    NaN
Service                                     Нет
Nomenclature_group                          NaN
Sharto                               2957954029
Main_supplier                               NaN
Main_supplier_object                        Нет
Comment                                     NaN
Predefined                                  Нет
Price                                        91
Qty_stock                                 29484
Remaining_amount                            324
Currency                                    Руб
Name: 54, dtype: object

In [255]:
a.to_csv("Test1_NonEdited.csv")

Поскольку в датасете присутствуют ошибки (например, больше присутствует на складе, чем на полках, или отрицательное количество присутствия и того, и другого), то можно пойти двумя путями:
- Исправить их (путем свапа или смены знака
- Не трогать

И тот, и другой варианты приводят к изменению чистоты датасета, однако неизвестно, какой куда изменяет. Поэтому оставим оба датасета

In [260]:
for i in range(0, len(a.values)):
    tmp = a.values[i]
    if abs(tmp[21]) < abs(tmp[22]):
        tmp[21], tmp[22] = tmp[22], tmp[21]
    if tmp[21] < 0:
        tmp[21] = -tmp[21]
    if tmp[22] < 0:
        tmp[22] = -tmp[22]
    tmp[22] = int(tmp[22])
    a.loc[i] = tmp

In [257]:
a.to_csv('Task1_3_Corrected.csv')

In [262]:
a.head()

,Number_PP,Name,Full_name,Code,Unit_of_reconciliation,Additional_characteristics,Owners_name,Kind,Article,Weight,...,Nomenclature_group,Sharto,Main_supplier,Main_supplier_object,Comment,Predefined,Price,Qty_stock,Remaining_amount,Currency
0,1,(o) Ламинат Symbio,(o) Ламинат Symbio,1920,м2,Нет,Symbio,Товар,1920,Нет,...,Товары,1619658683,NaN,Нет,NaN,Нет,188.96,446.84276,16,Руб
1,2,(o) Ламинат Synchrotec,(o) Ламинат Synchrotec,1921,м2,Нет,Synchrotec,Товар,1921,Нет,...,Товары,162653771,NaN,Нет,NaN,Нет,95.73,720.68925,6,Руб
2,3,(о) Коврики влаговпитывающие,(о) Коврики влаговпитывающие,2037,шт,Нет,Коврики влаговпитывающие,Товар,2037,Нет,...,Товары,162653771,ОПУС ТД ООО,Нет,NaN,Нет,99.83,426.42527,58,Руб
3,4,(о) Ковролин Ideal,(о) Ковролин Ideal,2020,шт,Нет,Ковролин Ideal,Товар,2020,Нет,...,Товары,1993477958,ОПУС ТД ООО,Нет,NaN,Нет,93.28,648.60445,44,Руб
4,5,(о) Ковролин Синтелон (свотч),(о) Ковролин Синтелон (свотч),2390,шт,Нет,Ковролин СИНТЕЛОН (Сербия),Товар,2390,Нет,...,Товары,1993477958,Монарх МБК-М ООО,Нет,NaN,Нет,52.33,905.47358,65,Руб